body{
    background-color: #f0cb58;
}
#error-message{
    color: red;
    font-size: 30px;
    text-align: center;
   
}
#restaurant-name {
    font-size: 30px;
    color: rgb(7, 7, 88);
    font-weight: 600;
}
#nav-items li a{
    color: black;
    margin: 15px;
}
#nav-items li a:hover {
    text-decoration: underline;
    color: rgb(7, 7, 88);
}
#food-search-part {
    width: 60%;
}
#submit-button {
    background-color:rgb(7, 7, 88) ;
    color: white;
}
input {
    border-radius: none;
    color: rgb(7, 7, 88);
}
.food-name {
    background-color: white;
    color: black;
    height: 70px;
    text-align: center;
    padding: 13px 0;
    font-size: 20px;
    overflow-y: auto;
    border-radius:0 0 10px 10px;
    width: 290px;
    margin-bottom: 25px;
}
 #food-box img {
    height: 232px;
    width: 290px;
    border-radius:10px 10px 0 0;
    margin-top: 25px;
} 

#food-items {
    width: 1200px;
}
#food-box {
    transition: transform 2s ease;
}
#food-box:hover{
    transform: scale(1.03, 1.03);
    cursor: pointer;
}

